{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container bg-secundary">
    <h2>Conheça nossos produtos</h2>
    <p>Produtos de excelente qualidade</p>
</div>

<div>
    <div class="row">
        {% for item in data %}
            {% if item.status %}
                <div class="col-4">
                    <div class="card">
                        {% if item.image == '' or item.image == null %}
                            <img src=" {% static 'img/404.jpg'%} " alt="" class="card-img-card">

                        {% else %}
                        <img src= "{{ item.image.url }}" alt="Imagem Produto" class="card-img-top">

                        {% endif %}
                        
                        <div class="card-body">
                            <h5 class="card-title">{{ item.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted"> {{item.category}} </h6>
                            <p class="card-text">{{ item.description|truncatechars:100 }}</p>
                            <a href = "#" class="btn btn-primary"> Compre agora!</a>
                            <a href = "{% url 'produto' item.id %}" class="card-link"> Saiba mais</a>
                        </div> 
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>   
</div>



{% endblock %}